<mat-toolbar>
  <div class="container">
    <mat-toolbar-row>
      <span><select (change)="change_order_by()" [(ngModel)]="selected_option" class="form-control">
          <option class="form-control" *ngFor="let item of select_options" value={{item.value}}>{{item.string}}</option>
        </select></span>
      <span class="fill_space"></span>
      <span><input [(ngModel)]="username" class="form-control" (keydown.enter)="search_on_github()" placeholder="Username"></span>
    </mat-toolbar-row>
  </div>
</mat-toolbar>
